<head>
  <title>Song Details</title>
</head>

<body>

<div class="container-fluid">

  <h1>Login</h1>

  <% if flash[:error] %>
    <div class="alert-warning">
    <h5><%= flash[:error] %></h5>
    </div>
  <% end %>


  <form role="form" method="post" action="/users/login">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>

</div>

</body>

</html>