<head>
  <title>New Song</title>
</head>

<body>

<div class="container-fluid">

  <h1>Add Song</h1>

  <% if @song.errors.any? %>
    <div class="alert-warning">
    <h5>Some issues with your song, please fix them:</h5>
      <ul>
        <% @song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <form role="form" method="post" action="/songs">
      <div class="form-group">
        <label for="artist">Arist:</label>
        <input type="text" name="artist" class="form-control">
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="url">URL (optional):</label>
        <input type="text" name="url" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <% else %>
    <p><a href="/users/login">Login</a> to add a song</p>
  <% end %>

</div>

</body>s